* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('../images/pozadina.jpg');
    height: 100vh;
}

#container{
    width: 750px;
    margin: 0 auto;
}

header{
    width: 665px;
    height: 220px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0px 32px 16px;
    border-radius: 0 0 10px 10px;
}

h1{
    font-family: 'Lobster', cursive;
    float: left;
    font-size: 60px;
    color: white;
    width: 50%;
    display: inline-block;
}

header nav ul{
    list-style: none;
    display: inline-block;
    width: 49%;
    margin-top: 25px;
}

header nav ul li{
    margin-left: 10px;
    display: inline-block;
    float: right;
  	background-color: rgba(0, 0, 0, 0);
}

header nav ul li a{
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

header nav ul li a img{
    width: 45px;
    height: 45px;
    background-color: white;
    padding :  7px;
    border-radius: 50%;
    opacity: 0.8;
}



header nav ul li a img:hover{
    opacity: 1.0;
}

main{
	width: 100%;
	overflow: auto;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

footer{
    margin: 10px auto;
}

footer a{
    opacity: 0.5;
}

footer a:hover{
    opacity: 1.0;
}


main table{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: 100%;
    border: 1px solid skyblue;
}



main table tr{
    margin: 5px 10px;
    float: left;
    display: inline-block;
    width: 100%;
}

main table th{
    width: 16%;
    display: inline-block;
    float: right;
    text-align: left;
}

main table td{
    width: 16%;
    display: inline-block;
    float: right;
}

.ukloni{
    text-align: center;
}

.slika{
	text-align: left;
}

main table td a{
    color: black;
    display: inline-block; 
}

main table td a:hover{
    color: skyblue;
}

main h2{
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 10px auto;
}

button{
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    width: 10%;
    padding: 3px 3px;
    float: right;
    border-radius: 5px;
    opacity: 0.8;
    cursor: pointer;
}
button:hover{
    opacity: 1.0;
    color: grey;
}

main h2{
    width: 100%;
    color: white;
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
}

td a img{
    width: 20px;
    height: 20px;
}

td a #slika{
    width: auto;
    height: auto;
}

.linija{
    border: 1px solid grey;
    width: 100%;
    margin: 5px auto;
}

#ukupnaCena{
	border: 1px solid black;
	padding: 5px;
	font-style: italic;
	width: fit-content;
	margin-right: 15px;
	display: inline-block;
	float: right;
	border-radius: 5px;
	background-color: white;
	text-align: center;
}

#loyaltyKartica{
	width: 80%; 
	display: inline-block;
	text-align: left;
}

#azuriraj{
	float: left;
	width: 15%;
	margin-left: 5px;
}

#brojKnjiga{
	margin: auto;
	padding: 2px;
}

#update{
	margin-left: 10px;
	text-decoration: none;
	
}

#update button{
	margin: auto;
    display: block;
    width: auto;
    padding: 2px;
    float: none;
    border-radius: 0;
    opacity: 0.8;
    cursor: pointer;
}

.knjige-overflow{
    margin-top: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 56vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    header {
        display: none;
    }

    body{
        background-size: cover;
    }

    main{
        width: 90vw;
        margin: 10px;
        font-size: 10px;
    }
    main table tr td .slika{
    	width: 10vw;
    }

    main table tr td a img{
    	width: 10px;
    	height: 10px;
    }

    main table tr td select{
    	font-size: 10px;
    	width: 10vw;
    	height: 3vh;
    }

    footer a img{
        width: 20px;
        height: 20px;
    }

    button{
    	font-size: 5px;
    }

}

@media screen and (max-width: 290px) {
    main{
        font-size: 5px;
    }
}