main h2{
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    width: 100%;
    margin-top: 30px;
}

#listaZelja{	
	color: white;
}

#listaZelja th{
    width: 24%;
}

#listaZelja td{
    width: 24%;
}

#listaZelja td a #ukloni{
	width: 20px;
    height: 20px;
    opacity: 0.8;
}

#listaZelja-overflow{
	overflow-y: scroll;
	height: 35vh; 
	background-color: rgba(0,0,0, 0.7);
	border: 1px solid red;
	border-radius: 5px;
	margin: 0 20px 0;
}

#knjigaNaziv{
	color: white;
}

#knjigaNaziv:hover{
	color: skyblue;
	
}

#licniPodaci{
	overflow: hidden;
	float: left;
	display: inline-block;
	width: 90%;
	text-decoration: underline;
	color: white;
	margin: 25px;
	cursor: pointer;
}

#licniPodaci:hover{
	color: black;
}


main table{
    overflow-y: scroll;
	width: 95%;
    margin: auto;
}

main table tr{
	margin: 10px 15px;
	padding: 5px;
	float: left;
	display: inline-block;
	width: 100%;
}

main table th{
    font-size: 20px;
	font-family: 'Lobster', cursive;
	width: 32%;
	display: inline-block;
	float: left;
	text-align: left;
	margin-left: 5px;
}

main table td{
	width: 32%;
	display: inline-block;
	float: left;
	margin-left: 5px;
}

main table td a{
	color: black;
	display: inline-block;
	float: left;
    cursor: pointer;
}


main table td a:hover{
	color: skyblue;
}

main table .linija{
    border: 1px solid grey;
    padding: 0;
    width: 100%;
    margin: 5px auto;
}

.kupovine-overflow{
    background-color: white;
    overflow-y: scroll;
    height: 25vh;
    border: 1px solid skyblue;
    margin: 0 50px;
    border-radius: 5px;
}

@media screen and (max-width: 750px) {
    header {
        display: none;
    }


    body{
        background-size: cover;
    }

    main{
        width: 90vw;
        margin: 10px;
        font-size: 10px;
    }

    .korisnikInput{
        font-size: 10px;
    }

    .korisnikForm button{
        font-size: 10px;
    }

    footer a img{
        width: 20px;
        height: 20px;
    }

}

@media screen and (max-width: 290px) {
    main{
        font-size: 5px;
    }
    .korisnikInput{
        font-size: 5px;
    }
    .korisnikForm button{
        font-size: 5px;
    }
}